/* Body styling starts here */
body {
  height: 100vh;
  background: url("../images/champions_league.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Moving image to be viewed down */
  /* Styling the box */
  /* Styling the retake button */
}
body .image {
  margin-top: 5vh;
}
body article {
  width: 50%;
  margin: auto;
}
body a {
  margin-top: 5vh;
}

/* Styling the fireworks animation */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 28px -0.6666666667px #00ff55, 136px -360.6666666667px #a200ff, -242px -312.6666666667px #b3ff00, 80px -166.6666666667px #ff00d0, -154px -385.6666666667px #0051ff, -162px -322.6666666667px #00ff77, 17px -277.6666666667px #00ff2b, -20px -167.6666666667px #ff0d00, -169px -325.6666666667px #ffa600, -110px 61.3333333333px #00ffe6, 149px -180.6666666667px #ff2200, 175px -245.6666666667px #ff0066, 138px -129.6666666667px #ffae00, -141px -73.6666666667px #0037ff, 67px 35.3333333333px #09ff00, 126px -29.6666666667px #91ff00, 152px -49.6666666667px #00a6ff, -197px -278.6666666667px #ff1e00, 157px -17.6666666667px #3c00ff, -153px -347.6666666667px #00ff44, 125px -199.6666666667px #00ffee, -163px -266.6666666667px #bbff00, -178px -58.6666666667px #b3ff00, -122px -230.6666666667px #33ff00, -238px -404.6666666667px #00ff1e, -183px -325.6666666667px #ff0088, -240px -291.6666666667px #2b00ff, -172px 55.3333333333px #4000ff, 185px -17.6666666667px #6a00ff, -167px 24.3333333333px #a6ff00, 207px -209.6666666667px #002bff, 8px -300.6666666667px #ff0080, 50px -251.6666666667px #ff007b, 101px -168.6666666667px #ff0011, -212px -355.6666666667px #00ff48, 117px -145.6666666667px #ff4d00, 243px -315.6666666667px #00ffb3, 136px -179.6666666667px #ff2f00, -233px 47.3333333333px #0d00ff, 176px -252.6666666667px #0084ff, -120px -252.6666666667px #00ff15, -234px -403.6666666667px #ffb700, 20px -240.6666666667px #51ff00, 88px -145.6666666667px #26ff00, 82px 23.3333333333px #b3ff00, 22px 18.3333333333px #00ffd9, 61px -205.6666666667px #00ffdd, 155px -61.6666666667px #0037ff, -38px -54.6666666667px #ffcc00, -27px -337.6666666667px #0011ff, 142px -185.6666666667px #00ccff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 28px -0.6666666667px #00ff55, 136px -360.6666666667px #a200ff, -242px -312.6666666667px #b3ff00, 80px -166.6666666667px #ff00d0, -154px -385.6666666667px #0051ff, -162px -322.6666666667px #00ff77, 17px -277.6666666667px #00ff2b, -20px -167.6666666667px #ff0d00, -169px -325.6666666667px #ffa600, -110px 61.3333333333px #00ffe6, 149px -180.6666666667px #ff2200, 175px -245.6666666667px #ff0066, 138px -129.6666666667px #ffae00, -141px -73.6666666667px #0037ff, 67px 35.3333333333px #09ff00, 126px -29.6666666667px #91ff00, 152px -49.6666666667px #00a6ff, -197px -278.6666666667px #ff1e00, 157px -17.6666666667px #3c00ff, -153px -347.6666666667px #00ff44, 125px -199.6666666667px #00ffee, -163px -266.6666666667px #bbff00, -178px -58.6666666667px #b3ff00, -122px -230.6666666667px #33ff00, -238px -404.6666666667px #00ff1e, -183px -325.6666666667px #ff0088, -240px -291.6666666667px #2b00ff, -172px 55.3333333333px #4000ff, 185px -17.6666666667px #6a00ff, -167px 24.3333333333px #a6ff00, 207px -209.6666666667px #002bff, 8px -300.6666666667px #ff0080, 50px -251.6666666667px #ff007b, 101px -168.6666666667px #ff0011, -212px -355.6666666667px #00ff48, 117px -145.6666666667px #ff4d00, 243px -315.6666666667px #00ffb3, 136px -179.6666666667px #ff2f00, -233px 47.3333333333px #0d00ff, 176px -252.6666666667px #0084ff, -120px -252.6666666667px #00ff15, -234px -403.6666666667px #ffb700, 20px -240.6666666667px #51ff00, 88px -145.6666666667px #26ff00, 82px 23.3333333333px #b3ff00, 22px 18.3333333333px #00ffd9, 61px -205.6666666667px #00ffdd, 155px -61.6666666667px #0037ff, -38px -54.6666666667px #ffcc00, -27px -337.6666666667px #0011ff, 142px -185.6666666667px #00ccff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 28px -0.6666666667px #00ff55, 136px -360.6666666667px #a200ff, -242px -312.6666666667px #b3ff00, 80px -166.6666666667px #ff00d0, -154px -385.6666666667px #0051ff, -162px -322.6666666667px #00ff77, 17px -277.6666666667px #00ff2b, -20px -167.6666666667px #ff0d00, -169px -325.6666666667px #ffa600, -110px 61.3333333333px #00ffe6, 149px -180.6666666667px #ff2200, 175px -245.6666666667px #ff0066, 138px -129.6666666667px #ffae00, -141px -73.6666666667px #0037ff, 67px 35.3333333333px #09ff00, 126px -29.6666666667px #91ff00, 152px -49.6666666667px #00a6ff, -197px -278.6666666667px #ff1e00, 157px -17.6666666667px #3c00ff, -153px -347.6666666667px #00ff44, 125px -199.6666666667px #00ffee, -163px -266.6666666667px #bbff00, -178px -58.6666666667px #b3ff00, -122px -230.6666666667px #33ff00, -238px -404.6666666667px #00ff1e, -183px -325.6666666667px #ff0088, -240px -291.6666666667px #2b00ff, -172px 55.3333333333px #4000ff, 185px -17.6666666667px #6a00ff, -167px 24.3333333333px #a6ff00, 207px -209.6666666667px #002bff, 8px -300.6666666667px #ff0080, 50px -251.6666666667px #ff007b, 101px -168.6666666667px #ff0011, -212px -355.6666666667px #00ff48, 117px -145.6666666667px #ff4d00, 243px -315.6666666667px #00ffb3, 136px -179.6666666667px #ff2f00, -233px 47.3333333333px #0d00ff, 176px -252.6666666667px #0084ff, -120px -252.6666666667px #00ff15, -234px -403.6666666667px #ffb700, 20px -240.6666666667px #51ff00, 88px -145.6666666667px #26ff00, 82px 23.3333333333px #b3ff00, 22px 18.3333333333px #00ffd9, 61px -205.6666666667px #00ffdd, 155px -61.6666666667px #0037ff, -38px -54.6666666667px #ffcc00, -27px -337.6666666667px #0011ff, 142px -185.6666666667px #00ccff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 28px -0.6666666667px #00ff55, 136px -360.6666666667px #a200ff, -242px -312.6666666667px #b3ff00, 80px -166.6666666667px #ff00d0, -154px -385.6666666667px #0051ff, -162px -322.6666666667px #00ff77, 17px -277.6666666667px #00ff2b, -20px -167.6666666667px #ff0d00, -169px -325.6666666667px #ffa600, -110px 61.3333333333px #00ffe6, 149px -180.6666666667px #ff2200, 175px -245.6666666667px #ff0066, 138px -129.6666666667px #ffae00, -141px -73.6666666667px #0037ff, 67px 35.3333333333px #09ff00, 126px -29.6666666667px #91ff00, 152px -49.6666666667px #00a6ff, -197px -278.6666666667px #ff1e00, 157px -17.6666666667px #3c00ff, -153px -347.6666666667px #00ff44, 125px -199.6666666667px #00ffee, -163px -266.6666666667px #bbff00, -178px -58.6666666667px #b3ff00, -122px -230.6666666667px #33ff00, -238px -404.6666666667px #00ff1e, -183px -325.6666666667px #ff0088, -240px -291.6666666667px #2b00ff, -172px 55.3333333333px #4000ff, 185px -17.6666666667px #6a00ff, -167px 24.3333333333px #a6ff00, 207px -209.6666666667px #002bff, 8px -300.6666666667px #ff0080, 50px -251.6666666667px #ff007b, 101px -168.6666666667px #ff0011, -212px -355.6666666667px #00ff48, 117px -145.6666666667px #ff4d00, 243px -315.6666666667px #00ffb3, 136px -179.6666666667px #ff2f00, -233px 47.3333333333px #0d00ff, 176px -252.6666666667px #0084ff, -120px -252.6666666667px #00ff15, -234px -403.6666666667px #ffb700, 20px -240.6666666667px #51ff00, 88px -145.6666666667px #26ff00, 82px 23.3333333333px #b3ff00, 22px 18.3333333333px #00ffd9, 61px -205.6666666667px #00ffdd, 155px -61.6666666667px #0037ff, -38px -54.6666666667px #ffcc00, -27px -337.6666666667px #0011ff, 142px -185.6666666667px #00ccff;
  }
}
@keyframes bang {
  to {
    box-shadow: 28px -0.6666666667px #00ff55, 136px -360.6666666667px #a200ff, -242px -312.6666666667px #b3ff00, 80px -166.6666666667px #ff00d0, -154px -385.6666666667px #0051ff, -162px -322.6666666667px #00ff77, 17px -277.6666666667px #00ff2b, -20px -167.6666666667px #ff0d00, -169px -325.6666666667px #ffa600, -110px 61.3333333333px #00ffe6, 149px -180.6666666667px #ff2200, 175px -245.6666666667px #ff0066, 138px -129.6666666667px #ffae00, -141px -73.6666666667px #0037ff, 67px 35.3333333333px #09ff00, 126px -29.6666666667px #91ff00, 152px -49.6666666667px #00a6ff, -197px -278.6666666667px #ff1e00, 157px -17.6666666667px #3c00ff, -153px -347.6666666667px #00ff44, 125px -199.6666666667px #00ffee, -163px -266.6666666667px #bbff00, -178px -58.6666666667px #b3ff00, -122px -230.6666666667px #33ff00, -238px -404.6666666667px #00ff1e, -183px -325.6666666667px #ff0088, -240px -291.6666666667px #2b00ff, -172px 55.3333333333px #4000ff, 185px -17.6666666667px #6a00ff, -167px 24.3333333333px #a6ff00, 207px -209.6666666667px #002bff, 8px -300.6666666667px #ff0080, 50px -251.6666666667px #ff007b, 101px -168.6666666667px #ff0011, -212px -355.6666666667px #00ff48, 117px -145.6666666667px #ff4d00, 243px -315.6666666667px #00ffb3, 136px -179.6666666667px #ff2f00, -233px 47.3333333333px #0d00ff, 176px -252.6666666667px #0084ff, -120px -252.6666666667px #00ff15, -234px -403.6666666667px #ffb700, 20px -240.6666666667px #51ff00, 88px -145.6666666667px #26ff00, 82px 23.3333333333px #b3ff00, 22px 18.3333333333px #00ffd9, 61px -205.6666666667px #00ffdd, 155px -61.6666666667px #0037ff, -38px -54.6666666667px #ffcc00, -27px -337.6666666667px #0011ff, 142px -185.6666666667px #00ccff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=results.css.map */
