body {
  height: 100vh;
  background: url("../images/champions_league.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .image {
  margin-top: 5vh;
}
body article {
  width: 50%;
  margin: auto;
}
body a {
  margin-top: 5vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 80px -281.6666666667px #00ff9d, 14px 52.3333333333px #ff0011, -125px 82.3333333333px #ff1100, -135px -158.6666666667px #ff9500, -23px -151.6666666667px #00a6ff, -243px -4.6666666667px #00e6ff, 95px -19.6666666667px #b7ff00, -246px -219.6666666667px #ff2f00, 103px -337.6666666667px darkorange, 225px -105.6666666667px #ff0099, 222px -237.6666666667px #e1ff00, 39px -375.6666666667px #006aff, -167px -221.6666666667px #4000ff, 205px -400.6666666667px #51ff00, 215px -325.6666666667px #ff0400, -105px -203.6666666667px #00ff84, 192px -172.6666666667px #00ffb7, -21px 76.3333333333px #ff0037, 57px -117.6666666667px #ff0037, 2px -145.6666666667px #00e1ff, -129px -119.6666666667px #9500ff, 9px -224.6666666667px #00ff6f, -125px 32.3333333333px #ff00bf, 174px -101.6666666667px #0900ff, 200px 9.3333333333px #91ff00, 99px -176.6666666667px #48ff00, -30px -202.6666666667px #6f00ff, -139px -360.6666666667px #d500ff, 192px -290.6666666667px darkorange, 12px -282.6666666667px #e1ff00, -90px -392.6666666667px #ffbf00, 143px -106.6666666667px #ffd000, -198px -325.6666666667px #ffdd00, -16px -201.6666666667px #6f00ff, -48px -235.6666666667px #0004ff, -174px -65.6666666667px #0048ff, -117px -321.6666666667px #00d5ff, 123px -129.6666666667px #00f7ff, -168px -192.6666666667px #00ffea, -129px -194.6666666667px #fb00ff, 51px 10.3333333333px #0044ff, 90px -33.6666666667px #00ff88, -200px -183.6666666667px #ae00ff, -15px -244.6666666667px #ffa200, -60px -96.6666666667px #00d5ff, 206px -165.6666666667px #ff0037, -212px -12.6666666667px #04ff00, 9px -74.6666666667px #4000ff, 166px -253.6666666667px #00ff95, -171px 58.3333333333px #cc00ff, 0px -316.6666666667px #ff5500;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 80px -281.6666666667px #00ff9d, 14px 52.3333333333px #ff0011, -125px 82.3333333333px #ff1100, -135px -158.6666666667px #ff9500, -23px -151.6666666667px #00a6ff, -243px -4.6666666667px #00e6ff, 95px -19.6666666667px #b7ff00, -246px -219.6666666667px #ff2f00, 103px -337.6666666667px darkorange, 225px -105.6666666667px #ff0099, 222px -237.6666666667px #e1ff00, 39px -375.6666666667px #006aff, -167px -221.6666666667px #4000ff, 205px -400.6666666667px #51ff00, 215px -325.6666666667px #ff0400, -105px -203.6666666667px #00ff84, 192px -172.6666666667px #00ffb7, -21px 76.3333333333px #ff0037, 57px -117.6666666667px #ff0037, 2px -145.6666666667px #00e1ff, -129px -119.6666666667px #9500ff, 9px -224.6666666667px #00ff6f, -125px 32.3333333333px #ff00bf, 174px -101.6666666667px #0900ff, 200px 9.3333333333px #91ff00, 99px -176.6666666667px #48ff00, -30px -202.6666666667px #6f00ff, -139px -360.6666666667px #d500ff, 192px -290.6666666667px darkorange, 12px -282.6666666667px #e1ff00, -90px -392.6666666667px #ffbf00, 143px -106.6666666667px #ffd000, -198px -325.6666666667px #ffdd00, -16px -201.6666666667px #6f00ff, -48px -235.6666666667px #0004ff, -174px -65.6666666667px #0048ff, -117px -321.6666666667px #00d5ff, 123px -129.6666666667px #00f7ff, -168px -192.6666666667px #00ffea, -129px -194.6666666667px #fb00ff, 51px 10.3333333333px #0044ff, 90px -33.6666666667px #00ff88, -200px -183.6666666667px #ae00ff, -15px -244.6666666667px #ffa200, -60px -96.6666666667px #00d5ff, 206px -165.6666666667px #ff0037, -212px -12.6666666667px #04ff00, 9px -74.6666666667px #4000ff, 166px -253.6666666667px #00ff95, -171px 58.3333333333px #cc00ff, 0px -316.6666666667px #ff5500;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 80px -281.6666666667px #00ff9d, 14px 52.3333333333px #ff0011, -125px 82.3333333333px #ff1100, -135px -158.6666666667px #ff9500, -23px -151.6666666667px #00a6ff, -243px -4.6666666667px #00e6ff, 95px -19.6666666667px #b7ff00, -246px -219.6666666667px #ff2f00, 103px -337.6666666667px darkorange, 225px -105.6666666667px #ff0099, 222px -237.6666666667px #e1ff00, 39px -375.6666666667px #006aff, -167px -221.6666666667px #4000ff, 205px -400.6666666667px #51ff00, 215px -325.6666666667px #ff0400, -105px -203.6666666667px #00ff84, 192px -172.6666666667px #00ffb7, -21px 76.3333333333px #ff0037, 57px -117.6666666667px #ff0037, 2px -145.6666666667px #00e1ff, -129px -119.6666666667px #9500ff, 9px -224.6666666667px #00ff6f, -125px 32.3333333333px #ff00bf, 174px -101.6666666667px #0900ff, 200px 9.3333333333px #91ff00, 99px -176.6666666667px #48ff00, -30px -202.6666666667px #6f00ff, -139px -360.6666666667px #d500ff, 192px -290.6666666667px darkorange, 12px -282.6666666667px #e1ff00, -90px -392.6666666667px #ffbf00, 143px -106.6666666667px #ffd000, -198px -325.6666666667px #ffdd00, -16px -201.6666666667px #6f00ff, -48px -235.6666666667px #0004ff, -174px -65.6666666667px #0048ff, -117px -321.6666666667px #00d5ff, 123px -129.6666666667px #00f7ff, -168px -192.6666666667px #00ffea, -129px -194.6666666667px #fb00ff, 51px 10.3333333333px #0044ff, 90px -33.6666666667px #00ff88, -200px -183.6666666667px #ae00ff, -15px -244.6666666667px #ffa200, -60px -96.6666666667px #00d5ff, 206px -165.6666666667px #ff0037, -212px -12.6666666667px #04ff00, 9px -74.6666666667px #4000ff, 166px -253.6666666667px #00ff95, -171px 58.3333333333px #cc00ff, 0px -316.6666666667px #ff5500;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 80px -281.6666666667px #00ff9d, 14px 52.3333333333px #ff0011, -125px 82.3333333333px #ff1100, -135px -158.6666666667px #ff9500, -23px -151.6666666667px #00a6ff, -243px -4.6666666667px #00e6ff, 95px -19.6666666667px #b7ff00, -246px -219.6666666667px #ff2f00, 103px -337.6666666667px darkorange, 225px -105.6666666667px #ff0099, 222px -237.6666666667px #e1ff00, 39px -375.6666666667px #006aff, -167px -221.6666666667px #4000ff, 205px -400.6666666667px #51ff00, 215px -325.6666666667px #ff0400, -105px -203.6666666667px #00ff84, 192px -172.6666666667px #00ffb7, -21px 76.3333333333px #ff0037, 57px -117.6666666667px #ff0037, 2px -145.6666666667px #00e1ff, -129px -119.6666666667px #9500ff, 9px -224.6666666667px #00ff6f, -125px 32.3333333333px #ff00bf, 174px -101.6666666667px #0900ff, 200px 9.3333333333px #91ff00, 99px -176.6666666667px #48ff00, -30px -202.6666666667px #6f00ff, -139px -360.6666666667px #d500ff, 192px -290.6666666667px darkorange, 12px -282.6666666667px #e1ff00, -90px -392.6666666667px #ffbf00, 143px -106.6666666667px #ffd000, -198px -325.6666666667px #ffdd00, -16px -201.6666666667px #6f00ff, -48px -235.6666666667px #0004ff, -174px -65.6666666667px #0048ff, -117px -321.6666666667px #00d5ff, 123px -129.6666666667px #00f7ff, -168px -192.6666666667px #00ffea, -129px -194.6666666667px #fb00ff, 51px 10.3333333333px #0044ff, 90px -33.6666666667px #00ff88, -200px -183.6666666667px #ae00ff, -15px -244.6666666667px #ffa200, -60px -96.6666666667px #00d5ff, 206px -165.6666666667px #ff0037, -212px -12.6666666667px #04ff00, 9px -74.6666666667px #4000ff, 166px -253.6666666667px #00ff95, -171px 58.3333333333px #cc00ff, 0px -316.6666666667px #ff5500;
  }
}
@keyframes bang {
  to {
    box-shadow: 80px -281.6666666667px #00ff9d, 14px 52.3333333333px #ff0011, -125px 82.3333333333px #ff1100, -135px -158.6666666667px #ff9500, -23px -151.6666666667px #00a6ff, -243px -4.6666666667px #00e6ff, 95px -19.6666666667px #b7ff00, -246px -219.6666666667px #ff2f00, 103px -337.6666666667px darkorange, 225px -105.6666666667px #ff0099, 222px -237.6666666667px #e1ff00, 39px -375.6666666667px #006aff, -167px -221.6666666667px #4000ff, 205px -400.6666666667px #51ff00, 215px -325.6666666667px #ff0400, -105px -203.6666666667px #00ff84, 192px -172.6666666667px #00ffb7, -21px 76.3333333333px #ff0037, 57px -117.6666666667px #ff0037, 2px -145.6666666667px #00e1ff, -129px -119.6666666667px #9500ff, 9px -224.6666666667px #00ff6f, -125px 32.3333333333px #ff00bf, 174px -101.6666666667px #0900ff, 200px 9.3333333333px #91ff00, 99px -176.6666666667px #48ff00, -30px -202.6666666667px #6f00ff, -139px -360.6666666667px #d500ff, 192px -290.6666666667px darkorange, 12px -282.6666666667px #e1ff00, -90px -392.6666666667px #ffbf00, 143px -106.6666666667px #ffd000, -198px -325.6666666667px #ffdd00, -16px -201.6666666667px #6f00ff, -48px -235.6666666667px #0004ff, -174px -65.6666666667px #0048ff, -117px -321.6666666667px #00d5ff, 123px -129.6666666667px #00f7ff, -168px -192.6666666667px #00ffea, -129px -194.6666666667px #fb00ff, 51px 10.3333333333px #0044ff, 90px -33.6666666667px #00ff88, -200px -183.6666666667px #ae00ff, -15px -244.6666666667px #ffa200, -60px -96.6666666667px #00d5ff, 206px -165.6666666667px #ff0037, -212px -12.6666666667px #04ff00, 9px -74.6666666667px #4000ff, 166px -253.6666666667px #00ff95, -171px 58.3333333333px #cc00ff, 0px -316.6666666667px #ff5500;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=results.css.map */
