body {
  height: 100vh;
  background: url("../images/champions_league.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body article {
  width: 50%;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 149px -192.6666666667px #5100ff, 103px -394.6666666667px #3300ff, -243px -388.6666666667px #bfff00, -171px -57.6666666667px #00b7ff, 46px -124.6666666667px #006aff, 79px -0.6666666667px #d5ff00, 73px 43.3333333333px #00f7ff, 107px 1.3333333333px #ff0095, 83px -196.6666666667px #ff4d00, -217px -40.6666666667px #77ff00, -237px -135.6666666667px #eaff00, 171px -29.6666666667px yellow, 196px -303.6666666667px #0022ff, -3px 61.3333333333px #ff5500, 237px -32.6666666667px #3cff00, 9px -207.6666666667px #00ff33, -164px -398.6666666667px #ff0033, 199px -37.6666666667px #66ff00, 183px -376.6666666667px #fff200, 93px -204.6666666667px #0084ff, -25px -148.6666666667px #5500ff, -167px -112.6666666667px #00ff5e, 224px -129.6666666667px #1e00ff, 42px -243.6666666667px #95ff00, -222px -248.6666666667px #d0ff00, 20px -10.6666666667px #8800ff, 230px -103.6666666667px #00ff6f, -74px -173.6666666667px #1e00ff, 231px 7.3333333333px #00ff5e, 28px -335.6666666667px #ff00c4, -192px -269.6666666667px #ff7b00, -162px -333.6666666667px #00ffd0, 149px -309.6666666667px #0091ff, -127px -145.6666666667px #0026ff, 227px -214.6666666667px fuchsia, -103px -364.6666666667px #0d00ff, -63px 38.3333333333px #00ffa6, -150px -383.6666666667px #eaff00, 127px -72.6666666667px #ff00dd, -86px -399.6666666667px #ff00e6, -42px -200.6666666667px #00a6ff, -26px -94.6666666667px #ff0044, -106px -394.6666666667px #1aff00, -22px 68.3333333333px #04ff00, -246px -307.6666666667px #0040ff, 236px 42.3333333333px #00ffd0, -177px -40.6666666667px #ff0015, -45px -78.6666666667px #6aff00, 200px 39.3333333333px #0088ff, 59px -237.6666666667px #ff000d, 166px -16.6666666667px #ff2b00;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 149px -192.6666666667px #5100ff, 103px -394.6666666667px #3300ff, -243px -388.6666666667px #bfff00, -171px -57.6666666667px #00b7ff, 46px -124.6666666667px #006aff, 79px -0.6666666667px #d5ff00, 73px 43.3333333333px #00f7ff, 107px 1.3333333333px #ff0095, 83px -196.6666666667px #ff4d00, -217px -40.6666666667px #77ff00, -237px -135.6666666667px #eaff00, 171px -29.6666666667px yellow, 196px -303.6666666667px #0022ff, -3px 61.3333333333px #ff5500, 237px -32.6666666667px #3cff00, 9px -207.6666666667px #00ff33, -164px -398.6666666667px #ff0033, 199px -37.6666666667px #66ff00, 183px -376.6666666667px #fff200, 93px -204.6666666667px #0084ff, -25px -148.6666666667px #5500ff, -167px -112.6666666667px #00ff5e, 224px -129.6666666667px #1e00ff, 42px -243.6666666667px #95ff00, -222px -248.6666666667px #d0ff00, 20px -10.6666666667px #8800ff, 230px -103.6666666667px #00ff6f, -74px -173.6666666667px #1e00ff, 231px 7.3333333333px #00ff5e, 28px -335.6666666667px #ff00c4, -192px -269.6666666667px #ff7b00, -162px -333.6666666667px #00ffd0, 149px -309.6666666667px #0091ff, -127px -145.6666666667px #0026ff, 227px -214.6666666667px fuchsia, -103px -364.6666666667px #0d00ff, -63px 38.3333333333px #00ffa6, -150px -383.6666666667px #eaff00, 127px -72.6666666667px #ff00dd, -86px -399.6666666667px #ff00e6, -42px -200.6666666667px #00a6ff, -26px -94.6666666667px #ff0044, -106px -394.6666666667px #1aff00, -22px 68.3333333333px #04ff00, -246px -307.6666666667px #0040ff, 236px 42.3333333333px #00ffd0, -177px -40.6666666667px #ff0015, -45px -78.6666666667px #6aff00, 200px 39.3333333333px #0088ff, 59px -237.6666666667px #ff000d, 166px -16.6666666667px #ff2b00;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 149px -192.6666666667px #5100ff, 103px -394.6666666667px #3300ff, -243px -388.6666666667px #bfff00, -171px -57.6666666667px #00b7ff, 46px -124.6666666667px #006aff, 79px -0.6666666667px #d5ff00, 73px 43.3333333333px #00f7ff, 107px 1.3333333333px #ff0095, 83px -196.6666666667px #ff4d00, -217px -40.6666666667px #77ff00, -237px -135.6666666667px #eaff00, 171px -29.6666666667px yellow, 196px -303.6666666667px #0022ff, -3px 61.3333333333px #ff5500, 237px -32.6666666667px #3cff00, 9px -207.6666666667px #00ff33, -164px -398.6666666667px #ff0033, 199px -37.6666666667px #66ff00, 183px -376.6666666667px #fff200, 93px -204.6666666667px #0084ff, -25px -148.6666666667px #5500ff, -167px -112.6666666667px #00ff5e, 224px -129.6666666667px #1e00ff, 42px -243.6666666667px #95ff00, -222px -248.6666666667px #d0ff00, 20px -10.6666666667px #8800ff, 230px -103.6666666667px #00ff6f, -74px -173.6666666667px #1e00ff, 231px 7.3333333333px #00ff5e, 28px -335.6666666667px #ff00c4, -192px -269.6666666667px #ff7b00, -162px -333.6666666667px #00ffd0, 149px -309.6666666667px #0091ff, -127px -145.6666666667px #0026ff, 227px -214.6666666667px fuchsia, -103px -364.6666666667px #0d00ff, -63px 38.3333333333px #00ffa6, -150px -383.6666666667px #eaff00, 127px -72.6666666667px #ff00dd, -86px -399.6666666667px #ff00e6, -42px -200.6666666667px #00a6ff, -26px -94.6666666667px #ff0044, -106px -394.6666666667px #1aff00, -22px 68.3333333333px #04ff00, -246px -307.6666666667px #0040ff, 236px 42.3333333333px #00ffd0, -177px -40.6666666667px #ff0015, -45px -78.6666666667px #6aff00, 200px 39.3333333333px #0088ff, 59px -237.6666666667px #ff000d, 166px -16.6666666667px #ff2b00;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 149px -192.6666666667px #5100ff, 103px -394.6666666667px #3300ff, -243px -388.6666666667px #bfff00, -171px -57.6666666667px #00b7ff, 46px -124.6666666667px #006aff, 79px -0.6666666667px #d5ff00, 73px 43.3333333333px #00f7ff, 107px 1.3333333333px #ff0095, 83px -196.6666666667px #ff4d00, -217px -40.6666666667px #77ff00, -237px -135.6666666667px #eaff00, 171px -29.6666666667px yellow, 196px -303.6666666667px #0022ff, -3px 61.3333333333px #ff5500, 237px -32.6666666667px #3cff00, 9px -207.6666666667px #00ff33, -164px -398.6666666667px #ff0033, 199px -37.6666666667px #66ff00, 183px -376.6666666667px #fff200, 93px -204.6666666667px #0084ff, -25px -148.6666666667px #5500ff, -167px -112.6666666667px #00ff5e, 224px -129.6666666667px #1e00ff, 42px -243.6666666667px #95ff00, -222px -248.6666666667px #d0ff00, 20px -10.6666666667px #8800ff, 230px -103.6666666667px #00ff6f, -74px -173.6666666667px #1e00ff, 231px 7.3333333333px #00ff5e, 28px -335.6666666667px #ff00c4, -192px -269.6666666667px #ff7b00, -162px -333.6666666667px #00ffd0, 149px -309.6666666667px #0091ff, -127px -145.6666666667px #0026ff, 227px -214.6666666667px fuchsia, -103px -364.6666666667px #0d00ff, -63px 38.3333333333px #00ffa6, -150px -383.6666666667px #eaff00, 127px -72.6666666667px #ff00dd, -86px -399.6666666667px #ff00e6, -42px -200.6666666667px #00a6ff, -26px -94.6666666667px #ff0044, -106px -394.6666666667px #1aff00, -22px 68.3333333333px #04ff00, -246px -307.6666666667px #0040ff, 236px 42.3333333333px #00ffd0, -177px -40.6666666667px #ff0015, -45px -78.6666666667px #6aff00, 200px 39.3333333333px #0088ff, 59px -237.6666666667px #ff000d, 166px -16.6666666667px #ff2b00;
  }
}
@keyframes bang {
  to {
    box-shadow: 149px -192.6666666667px #5100ff, 103px -394.6666666667px #3300ff, -243px -388.6666666667px #bfff00, -171px -57.6666666667px #00b7ff, 46px -124.6666666667px #006aff, 79px -0.6666666667px #d5ff00, 73px 43.3333333333px #00f7ff, 107px 1.3333333333px #ff0095, 83px -196.6666666667px #ff4d00, -217px -40.6666666667px #77ff00, -237px -135.6666666667px #eaff00, 171px -29.6666666667px yellow, 196px -303.6666666667px #0022ff, -3px 61.3333333333px #ff5500, 237px -32.6666666667px #3cff00, 9px -207.6666666667px #00ff33, -164px -398.6666666667px #ff0033, 199px -37.6666666667px #66ff00, 183px -376.6666666667px #fff200, 93px -204.6666666667px #0084ff, -25px -148.6666666667px #5500ff, -167px -112.6666666667px #00ff5e, 224px -129.6666666667px #1e00ff, 42px -243.6666666667px #95ff00, -222px -248.6666666667px #d0ff00, 20px -10.6666666667px #8800ff, 230px -103.6666666667px #00ff6f, -74px -173.6666666667px #1e00ff, 231px 7.3333333333px #00ff5e, 28px -335.6666666667px #ff00c4, -192px -269.6666666667px #ff7b00, -162px -333.6666666667px #00ffd0, 149px -309.6666666667px #0091ff, -127px -145.6666666667px #0026ff, 227px -214.6666666667px fuchsia, -103px -364.6666666667px #0d00ff, -63px 38.3333333333px #00ffa6, -150px -383.6666666667px #eaff00, 127px -72.6666666667px #ff00dd, -86px -399.6666666667px #ff00e6, -42px -200.6666666667px #00a6ff, -26px -94.6666666667px #ff0044, -106px -394.6666666667px #1aff00, -22px 68.3333333333px #04ff00, -246px -307.6666666667px #0040ff, 236px 42.3333333333px #00ffd0, -177px -40.6666666667px #ff0015, -45px -78.6666666667px #6aff00, 200px 39.3333333333px #0088ff, 59px -237.6666666667px #ff000d, 166px -16.6666666667px #ff2b00;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=results.css.map */
