/* Section styling starts here */

section {
    background: url('../images/champions_league.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Styling the page heading */
    h1 {
        text-align: center;
        background: #fff;
        padding: 30px;
    }
    /* Removing the radio input */
    input[type=radio] {
        display: none;
    }
    /* Styling the label of the radio input */
    label {
        display: inline-block;
        text-align: center;
        background: #f3f3f3;
        width: 150px;
        padding: 5px 0;
        cursor: pointer;
        border: 1px solid #dadada;
        border-bottom: none;
        vertical-align: center;
        &:hover {
            background: rgba(0, 0, 0, 0);
        }
    }
    input:checked+label {
        background: #3562a6;
        color: white;
    }
    /* Styling the box for each question */
    .box {
        width: 50%;
        margin: 0px auto;
        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
        }
        .btnContainer {
            width: 150px;
            border-bottom: 1px solid #dadada;
            margin: 20px auto;
        }
    }
    /* Styling the submit button */
    button {
        margin-bottom: 30px;
    }
}